<div>
   {{fa-icon 'power-off' size='3' click=(action 'powerOff')}}
   {{fa-icon 'glass' size='3' click=(action 'partyTime')}}
   {{fa-icon 'heart' size='3' click=(action 'sexyTime')}}
   {{fa-icon 'spinner' size='3' click=(action 'activateSequence')}}
</div>
